<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<settings>
		<setting useStatementNamespaces="false"/>
		<setting cacheModelsEnabled="true"/>
		<setting validateSqlMap="false"/> 
	</settings>
	
	<providers embedded="Provider.config,TestIBatisNetCore.Persistence"/>
	
	<database>
		<provider name="MySqlProvider"/>
		<dataSource name="MySqlConn" connectionString="Datasource=127.0.0.1;port=3306;Database=ibatisdb;uid=root;pwd=123456;charset=utf8;SslMode=Preferred;" />
	</database>

	<alias>
		<typeAlias alias="PersonEntity" type="TestIBatisNetCore.Domain.Entities.PersonEntity, TestIBatisNetCore.Domain" />
		<typeAlias alias="PersonModel" type="TestIBatisNetCore.Domain.Models.PersonModel, TestIBatisNetCore.Domain" />
		<typeAlias alias="PersonCriteria" type="TestIBatisNetCore.Domain.Criteriaes.PersonCriteria, TestIBatisNetCore.Domain" />
		<typeAlias alias="PagingPersonModel" type="BP.Domain.Pagination`1[[TestIBatisNetCore.Domain.Models.PersonModel, TestIBatisNetCore.Domain]], BP.Domain" />

	</alias>
	<sqlMaps>
		<sqlMap embedded="Mappings.Common.Pagination.xml, TestIBatisNetCore.Persistence" />
		<sqlMap embedded="Mappings.Person.xml,TestIBatisNetCore.Persistence"  />
	</sqlMaps>
</sqlMapConfig>